<div class="flex flex-col items-center justify-center w-ful">
  <h1 class="text-2xl my-6 text-center text-[#128FE3]">New Expense</h1>
  <div class="p-2 w-full sm:w-1/2">
    <%= render 'create_expense_form', expense: @expense %>
  </div>
</div>
